.containermainNav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #362245;
    font-size: 18px;
}
.navLogo{
    height: 80px;
    width: auto;
}
.start{
    display: flex;
    justify-content: space-around;
}
.middle{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.end{
    margin: 0px 20px;
}
.navItem{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px 10px;
}
.navItem:visited{
    color: white;
}