.body{
    background-color: #362245;
}
.SignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: auto;
    width: 400px;
}
.background{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 10px;
    padding: 10px;
    width: 250px;
    font-size: 14px;
    color: white;
    background-color: #362245;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.signup{
    background: none;
    border: 0;
    font-size: 15px;
    border-bottom: 1px solid white;
}
input::placeholder {
    color: white;
    opacity: 0.6;
}
.continue{
    margin: 30px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    background-color: #7ED857;
    color: white;
}
.continue:hover{
    background-color: rgb(165, 241, 132);
}
a:visited {
    color: white;
}
.signUpWarning{
    color: red;
    font-weight: 400;
    margin: 0;
}
.signUpPassword{
    position: relative;
    left: 235px;
    top: -39px;
    color: white;
    background-color: #362245;
}
