.inputcontainer {
    overflow: auto;
    height: 48vh;
}

.inputwrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: auto;
    width: 400px;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.plus {
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 6px;
    background-color:  #7ED857;
    cursor: pointer;
    font-size: 18px;
    margin-top: 16px;
}
.taskwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color:  whitesmoke;
    height: auto;
    width: 500px;
    margin: 20px 0px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    color: #362245;
    }

    .donewrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: whitesmoke;
    height: auto;
    width: 500px;
    margin: 20px 0px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    color: #362245;
   }

   .donedelete {
    color:rgb(224, 9, 9);
    font-size: 20px;
    background-color: #7ED857;;  
    border-color:#362245;
    border-width: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
   }
.backButton{
    background-color:  #7ED857;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: green;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}      

.taskName{
    padding: 0px 0px 0px 20px;
}
.buttonwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.donebuttonwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}
.taskbutton {
    background-color:  #7ED857;
    border-color:#7ED857;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #362245;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.start {
    color: green;
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

.done {
    border-color: #362245;
    border-style: solid;
    border-width: 2px;
    color:#7ED857;
    background-color: #362245
}
.delete {
    color:rgb(224, 9, 9);
    font-size: 20px;
}
.loading{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

@media only screen and (max-width: 1200px) {

    
    .taskwrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: whitesmoke;
        margin: 20px 25vw;
        padding: 5px;
        border-radius: 10px;
        font-weight: 600;
        color: #362245;
    }

    .donewrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: whitesmoke;
        width: auto;
        margin: 20px 25vw;
        padding: 5px;
        border-radius: 10px;
        font-weight: 600;
        color: #362245;
    }

    .taskbutton {
        background-color:  #7ED857;
        border-color:#7ED857;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #362245;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer
    }
    .buttonwrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }
    .start {
        color: green;
        border-color: green;
        border-style: solid;
        border-width: 2px;
    }
    
    .done {
        border-color: #362245;
        border-style: solid;
        border-width: 2px;
        color:#7ED857;
        background-color: #362245
    }
    .delete {
        color:rgb(224, 9, 9);
        font-size: 20px;
    }
    .inputwrapper {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        height: auto;
        width: 100vw;
        overflow: auto;
        display: flex;
        justify-content: center;
    }
    .inputcontainer {
        overflow: auto;
        height: 50vh;
        width: 100vw;
    }
    .plus {
        position: relative;
        top: -6px;
        height: 38px;
        width: 38px;
        border: 0;
        border-radius: 0;
        border-radius: 50%;
        background-color:  #7ED857;
        cursor: pointer;
        font-size: 18px;
    }
    .fade{
        width: 100px;
        height: 80px;
        background-image: linear-gradient(0deg, rgba(54,34,69,1) 50%, rgba(255,255,255,0) 100%);
    }
}

@media only screen and (max-width: 600px) {
    .taskwrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color:  white;
        width: auto;
        margin: 20px 10px;
        padding: 5px;
        border-radius: 10px;
        font-weight: 600;
        color: #362245;
    }
    .donewrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: whitesmoke;
        width: auto;
        margin: 20px 10px;
        padding: 5px;
        border-radius: 10px;
        font-weight: 600;
        color: #362245;
    }
    .taskbutton {
        background-color:  #7ED857;
        border-color:#7ED857;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #362245;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer
    }
    .buttonwrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
    }
    .start {
        color: green;
        border-color: green;
        border-style: solid;
        border-width: 2px;
    }
    
    .done {
        border-color: #362245;
        border-style: solid;
        border-width: 2px;
        color:#7ED857;
        background-color: #362245
    }
    .delete {
        color:rgb(224, 9, 9);
        font-size: 20px;
    }
    .inputwrapper {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        height: auto;
        width: 100vw;
        overflow: auto;
        display: flex;
        justify-content: center;
    }
    .inputcontainer {
        overflow: auto;
        height: 40vh;
        width: 100vw;
    }
    .plus {
        position: relative;
        top: -6px;
        height: 38px;
        width: 38px;
        border: 0;
        border-radius: 0;
        border-radius: 50%;
        background-color:  #7ED857;
        cursor: pointer;
        font-size: 18px;
    }
    .fade{
        width: 100px;
        height: 80px;
        background-image: linear-gradient(0deg, rgba(54,34,69,1) 50%, rgba(255,255,255,0) 100%);
    }
}

@media only screen and (max-width: 320px){
    .inputcontainer{
        height: 195px;
    }
    
}