.inputcontainer {
    overflow: auto;
    height: 55vh;
}

.inputwrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color: red; */
    height: auto;
    width: 400px;
    margin-left: 100px;
    overflow: auto;
    
}
.plus {
    height: 30px;
    width: 30px;
    border-radius: 20%;
}
.taskwrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:  rgb(177, 224, 157);
    height: auto;
    width: 500px;
    margin-top: 40px;
    margin-left: 50px;
    line-height: 10px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    color: #362245;
    
}
.buttonwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.taskbutton {
    background-color:  #7ED857;
    border-color:#7ED857;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #362245;
    font-weight: 600;
    font-size: 15px;
    }
    .start {
        color: green;
        border-color: green;
        border-style: solid;
        border-width: 2px;

    }
    .done {
        border-color: #362245;
        border-style: solid;
        border-width: 2px;
        color:#7ED857;
        background-color: #362245
    }
    .delete {
        color:rgb(224, 9, 9);
        font-size: 20px;
    }