.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.circlebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.button{
    margin: 20px;
    height: 38px;
    width: 90px;
    font-size: 16px;
    font-weight: 700;
    color: #362245;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background-color: #7ED857;
}

.topBanner {
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    height: 150px;
    width: 100vw;
    background-color: #7ED857;
    position: absolute;
    top: 0;
    left: 0;
}
   
.timerlogo {
    position: relative;
    height: auto;
    width:100px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 25px;
}

.times{
    background-color: rgb(177, 224, 157);
    border: 5px solid #7ED857;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.nav{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .times{
        background-color: rgb(177, 224, 157);
        border: 5px solid #7ED857;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 250px;
        width: 250px;
    }


.topBanner {
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%;
    height: 100px;
    width: 100vw;
    background-color: #7ED857;
}

.timerlogo {
    position: relative;
    height: auto;
    width: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 15px;
}
}


@media only screen and (max-width: 600px) {
    .times{
        background-color: rgb(177, 224, 157);
        border: 5px solid #7ED857;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 250px;
        width: 250px;
    }
    .topBanner {
        border-bottom-left-radius: 50% ;
        border-bottom-right-radius: 50%;
        height: 100px;
        width: 100vw;
        background-color: #7ED857;
    }
    .timerlogo {
        position: relative;
        height: auto;
        width: 70px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 15px;
    }
}