.timeSheetList {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 150px;
  width: auto;
  background-color: #7ed857;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.timeSheetHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 60px;
  width: 300px;
  padding: 0px 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: #7ed857;
  border-width: 3px;
  margin-bottom: 30px;
}
.taskContainer {
  height: 1000px;
  width: 90vw;
  overflow: auto;
  height: 55vh;
}
.date {
  margin-left: 5px;
  color: #362245;
}
.time {
    margin-left: 5px;
    color: #362245;
    
}
.Task {
  background-color: #7ed857;
  width: 100vw;
}

.dailyTasks {
  background-color: whitesmoke;
}

.listContent {
  display: flex;
  align-items: center;
  background-color: white;
  height: 50px;
  font-size: 18px;
  font-weight: 800;
  color: #362245;
  padding-left: 10px;
}

.timesheetnav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
    .timeSheetList{
        height: 110px;
    }

  .timeSheetHeader {
    margin-top: 50px;
  }
  .taskContainer {
     overflow: auto;
    height: 40vh;
  }
}
@media only screen and (max-width: 500px) {
    .timeSheetList{
        height: 110px;
    }
  .taskContainer {
    overflow: auto;
    height: 30vh;
    
  }
}

@media only screen and (max-width: 320px) {
  .timeSheetList {
    height: 110px;
  }
  .total {
    width: 80%;
  }
  .taskContainer {
    overflow: auto;
    height: 20vh;
  }
  .taskContainer {
    width: 80%;
  }
}
