.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.circlebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    color: #fff;
}

.button{
    height: 20px;
    justify-content: center;
}

.times{
    background-color: #7ED857;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.nav{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}