


.timeSheetList {
        border-bottom-left-radius: 50% ;
        border-bottom-right-radius: 50%;
        height: 150px;
        width: auto;
        background-color: #7ED857;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        
} 

.timeSheetHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.total {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 224, 157);
    height: 60px;
    width: 300px;
    border-radius: 20px;
    border-style: solid;
    border-color:  #7ED857;
    border-width: 2px;
    margin-bottom: 30px;
}

.Task {
     background-color: #7ED857;
     width: 100vw;
     padding-left: 20px;
     padding-right: 20px;
    
   

}
.dailyTasks {
    background-color: #362245;
    
    
}
.listContent {
    display: flex;
    align-items: center;
    background-color: rgb(177, 224, 157);
    height: 35px;
    width: 100vw;
    padding: 10px;
    
}
